* {
  margin: 0;
  padding: 0;

  user-select: none; /* Chrome, Opera */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
}

#canvas {
    width: 100%;
    height: 100%;
}

#outer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}